@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  background: rgb(208, 238, 174);
  background: radial-gradient(
    circle,
    rgb(206, 225, 252) 7%,
    rgb(106, 224, 207) 100%
  );
}
a {
  background-color: rgb(167, 96, 177);
  border: none;
  color: lightgoldenrodyellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
  display: grid;
}

h1 {
  border-bottom: rgb(105, 103, 103) solid 10px;
  justify-content: center;
  display: flex;
  padding-bottom: 5px;
}

header {
  border-bottom: grey solid 10px;
  padding-bottom: 5px;
}

h2 {
  justify-content: center;
  display: flex;
  font-size: 30px;
}
h3 {
  justify-content: center;
  display: flex;
  font-size: 40px;
}
h4,
h5 {
  justify-content: center;
  display: flex;
}
p {
  justify-content: center;
  display: flex;
  font-size: 22px;
}

button {
  border: none;
  border-radius: 15px;
  box-shadow: black;
}
button:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}
